<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Shipment Details</h2>
<ul>
    <li>Shipment ID:{{ shipment.shipment_id}}</li>
    <li>Merchant:{{shipment.merchant_related.merchant_name}}</li>
    <li>Shipment Price:{{shipment.shipment_price}}</li>
    <li>Shipment Items:{{shipment.shipment_items}}</li>
    <li>Type Of Payment:{{shipment.type_of_payment}}</li>
    <li>Remarks:{{shipment.remarks}}</li>
</ul>
<span>

<a href="{% url 'shipment_edit' shipment.id %}">Edit</a> |
<a href="{% url 'shipment_delete' shipment.id %}">Delete</a>
</span>
</body>
</html>