<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
<h2>Shipment Form</h2>

  <form  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button  type="submit" value="Submit">Submit</button>
  </form>
</div>

</body>
</html>