<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<h2>Shipments List</h2>
{% block content %}
<h4><a href="{% url 'shipment_form' %}">Add Shipment</a>

    {% for shipment in shipments %}

<p><a href="{% url 'shipment_detail' shipment.id %}" >{{shipment.shipment_id}} </a></p>

    {% endfor %}

{% endblock %}

</body>
</html>


